{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h1>Hello {{ user.username }}</h1>
  <h1>Connected Machines: </h1>
     

    <table class="table table-hover">
      <thead>
        <tr>
          <th scopt = "col" > Machine ID </th>
          <th scope="col">HOST NAME</th>
        </tr>
      </thead>
      <tbody>
        {% if machines %}
            {% for machine in machines %}
            <tr>
              <td> <a href="{% url 'view-machine' machine.machine_ID %}">{{ machine.machine_ID }}</a></td>
                <td>{{ machine.Host_Name }}</td>
                    
            {% endfor %}
        {% endif %}   
      </tr>
      </tbody>
      </table>

{% else %}

<div class= "col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
    <form method = "POST" action="{% url 'list-machines' %}">
            {% csrf_token %}
            <div class="mb-3">
                
                <input type="text" class="form-control" name="username" placeholder="username" required>
              </div>
              <div class="mb-3">
                
                <input type="password" class="form-control" name = 'password' placeholder="Password" required >
              </div>
             
              <button type="submit" class="btn btn-primary">Submit</button>
            
    </form>
</div>
{% endif %}
{% endblock %}